* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    transition: .2s;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

a:hover {
    font-style: italic;
}

body {
    background-color: rgb(202, 179, 160);
    margin: 0;
    padding-top: 0.1px;
    font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.auth-container {
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
}

.page-container {
    max-width: 700px;
    padding: 10px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.red {
    color: rgb(111, 21, 21);
    font-weight: 600;
}

header {
    text-align: center;
}

.main-logo {
    max-width: 20%;
}

h1 {
    font-size: 24px;
	font-family: 'Cinzel', serif;
}

h2, h3, h4, h5 {
    font-family: 'Cinzel', serif;
}

.login-box {
    background-color: rgb(163, 163, 163);
    text-align: center;
    padding: 50px 20px;
    max-width: 500px;
    margin: 0 auto 0 auto;
    background-image: url("/img/parchment-light.jpg");
    box-shadow: 1px 2px 3px;
}

.login-field {
    font-size: 18px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 3px;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.562);
}

.login-button {
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 4px 30px;
    margin-top: 5px;
    background-color: rgb(111, 21, 21);
    color: white;
}

.login-button:hover {
    padding: 4px 40px;
}

.new-user-message {
    margin: 0 0 10px 0;
    color: rgb(0, 16, 161);
}

.bad-credentials-message {
    text-align: center;
    color: #d40000;
    font-weight: 600;
}

.new-user-link {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* ABOVE: LOGIN PAGE  */
/* BELOW: SIGN UP PAGE */

.signup-message {
    margin-top: -10px;
}

.signup-button {
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(111, 21, 21);
    color: white;
}

.signup-button:hover {
    padding: 5px 30px;
}

.login-return-button {
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(111, 21, 21);
    color: white;
}

/* ABOVE: SIGN UP PAGE */
/* BELOW: CHARACTER BUILD PAGE/NAV BAR */

.nav {
    background-color: #6f1515;
    width: 100%;
    display: block;
    text-align: left;
    padding: 3px;
    position: fixed;
    z-index: 10;
}

.nav-title {
    font-family: "Cinzel", serif;
    font-size: 30px;
    position: absolute;
    display: inline-block;
    color: white;
    margin: 0px;
    right: 15px;
    top: 12px;
}

.nav-drawer-button {
    border: none;
    font-size: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    background-color: white;
    margin: 10px 15px;
}

.build-page-header {
    padding-top: 60px;
}

.build-logo {
    max-width: 70px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid;
}

.button-container {
    text-align: center;
    margin: 5px auto;
    max-width: 500px;
    position: relative;
}

.build-button {
    border: none;
    border-radius: 50px;
    background-color: white;
    padding: 5px;
}

.build-button:hover {
    border-left: 12px solid;
    border-right: 12px solid;
}

.save-button {
    font-size: 16px;
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0px 5px 0px;
    right: 0;
    bottom: 0;
    color: seagreen;
}

.randomize-button {
    padding: 5px;
    width: 48%;
    margin-right: 1%;
    font-size: 16px;
    color: purple;
}

.delete-button {
    margin-left: 1%;
    font-size: 16px;
    padding: 5px;
    width: 48%;
    color: red;
}

.build-box {
    background-image: url("/img/parchment-light.jpg");
    max-width: 500px;
    padding: 20px 30px 10px 30px;
    background-color: rgb(202, 202, 202);
    /* border-radius: 20px; */
    margin: 0 auto 0 auto;
    box-shadow: 1px 2px 3px;
}

.build-box-header {
    text-align: center;
    font-size: 22px;
    padding-top: 0;
    margin-top: 0;
}

.build-paragraph {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.attrib-div {
    width: 49%;
    display: inline-block;
}

.class-div {
    float: right;
}

.text-input {
    font-size: 14px;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 7px;
    background-color: #ffffff7d;
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text-input:active {
    border: 1px solid lightblue;
}

.stats {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stat {
    text-align: center;
    display: inline-block;
    width: 31%;
    margin-top: 10px;
}

.stat-input {
    width: 60%;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff7d;
    border: none;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 50px;
}

.input-label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.582);
}

.input-name {
    font-size: 16px;
    font-weight: 600;
}

.character-background-box {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 130px;
    overflow-y: auto;
    font-size: 16px;
    background-color: #ffffff7d;
}

/* ABOVE: BUILD PAGE
BELOW: NAV DRAWER */

.nav-drawer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(250, 235, 215, 0.959);
    box-shadow: 2px 2px 5px;
    transition: 0.3s;
}

.drawer-closed-on-mobile {
    left: -260px;
}

.nav-header {
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(202, 179, 160);
}

.drawer-close-button {
    border: none;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 20px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.71);
    margin: 10px 0px;
    transition: 0.2s;
}

.drawer-close-button:hover {
    color: rgb(255, 0, 0);
}

.nav-drawer-user {
    margin-bottom: 10px;
    margin-top: 15px;
}

.user-email {
    font-size: 16px;
    font-weight: 600;
    overflow-wrap: break-word;
}

.logout-button {
    border-radius: 50px;
    border: none;
    font-size: 14px;
    margin-top: 5px;
    padding: 3px 15px;
    background-color: white;
}

.nav-drawer-characters {
    padding: 15px 15px 0 15px;
}

.my-characters {
    margin-top: 0px;
    margin-bottom: 10px;
}

.new-character-button {
    font-size: 18px;
    color: white;
    background-color: #2b74ff;
    border: none;
    border-radius: 50px;
    padding: 6px 25px;
    margin: 0 10px;
}

.new-character {
    color: forestgreen;
}

.character-list {
    text-align: center;
    padding: 5px 0px;
    margin: 0px;
}

.character-list-item {
    text-align: left;
    border-bottom: 1px solid;
    margin: 13px 0px;
    padding: 0px 5px;
    padding-bottom: 3px;
    width: 100%;
    display: inline-block;
    position: relative;
    right: 3px;
    cursor: pointer;
}

.character-list-item:hover {
    font-style: italic;
    border-left: 2px solid;
}

.character-icon {
    max-width: 38px;
    float: left;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid;
    margin-right: 8px;
    margin-top: 4px;
    background-color: white;
}

.character-name {
    font-size: 16px;
    font-weight: 550;
}

.character-description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.562);
}

.character-edit-button {
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 18px;
    color: blue;
    background-color: #e6e6e6;
    border: none;
}

.character-delete-button {
    position: absolute;
    right: 7px;
    bottom: 10px;
    font-size: 18px;
    color: red;
    background-color: #e6e6e6;
    border: none;
}


@media only screen and (min-width: 700px) {
    h1 {
        font-size: 35px;
    }

    .auth-header {
        margin-top: 30px;
    }

    .save-button {
        border: none;
        border-radius: 50px;
        font-size: 16px;
        width: 33%;
        padding: 5px;
        background-color: #ffffff;
    }
    
    .randomize-button {
        border: none;
        border-radius: 50px;
        padding: 5px;
        width: 32%;
        margin-right: 0;
        font-size: 16px;
        background-color: #ffffff;
    }
    
    .delete-button {
        background-color: #ffffff;
        border: none;
        border-radius: 50px;
        font-size: 16px;
        margin-left: 0px;
        padding: 5px;
        width: 32%;
    }
}


@media only screen and (min-width: 900px) {
    .page-container {
        margin: 0px 0px 0px auto;
        min-width: 70%;
    }

    .button-container {
        min-width: 90%;
    }

    .build-box {
        min-width: 90%
    }

    .nav-drawer {
        min-width: 25%;
        position: fixed;
        box-shadow: none;
    }

    .drawer-closed-on-mobile {
        left: 0px;
    }

    .nav-header {
        padding-top: 10px;
        height: 65px;
        background-color: rgb(111, 21, 21);
        position: fixed;
        width: 60%;
    }

    .drawer-close-button {
        display: none;
    }

    .nav-drawer-user {
        margin-top: 7px;
    }

    .user-email {
        color: white;
        font-size: 18px;
    }

    .logout-linebreak {
        display: none;
    }

    .logout-button {
        margin-left: 10px;
    }

    .nav-drawer-characters {
        padding-top: 75px;
    }

    .text-input {
        font-size: 16px;
    }

    .input-name {
        font-size: 20px;
    }

    .auth-header {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .build-page-header {
        margin-right: 8%
    }

    .button-container {
        margin-right: 8%
    }

    .build-box {
        margin-right: 8%
    }
}